<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Todoliste</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row justify-content-center pt-1">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="card-title">Todoliste</div>
                    </div>
                </div>
                <div class="card-body">
                    <form th:object="${filterCategory}" th:action="@{/todos/filter}"
                          method="post">
                        <div class="form-row pb-2">
                            <div class="col col-md-3">
                                <select th:field="*{filterCategory}" class="form-control">
                                    <option th:each="cat: ${selCategories}" th:value="${cat}"
                                            th:text="${cat}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary tooltip-test"
                                        title="Filter">Filter</button>
                            </div>
                            <div class="col-md-auto">
                                <a role="button" class="btn btn-primary mt-1 tooltip-test"
                                   title="Add Exercise"
                                   th:href="@{'/todos/add'}">
                                    <i class="fa fa-plus"></i> New
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center pt-1">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive"
                         th:if="${not #lists.isEmpty(todos)}">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th>Kategorie</th>
                                <th>Name</th>
                                <th>Prior</th>
                                <th>Beschreibung</th>
                                <th style="text-align: center">Update</th>
                                <th style="text-align: center">Delete</th>
                            </tr>
                            </thead>
                            <tr th:each="todo : ${todos}">
                                <td th:text="${todo.getCategory().getName()}" style="min-width: 100px;"></td>
                                <td th:text="${todo.name}" style="min-width: 100px;"></td>
                                <td th:text="${todo.prioritaet}" style="min-width: 50px; text-align: center"></td>
                                <td th:text="${todo.beschreibung}" style="max-width: 350px;"></td>
                                <td style="text-align: center">
                                    <a href="#" class="tooltip-test" title="Edit Todo"
                                       th:href="@{/todos/update/{id}(id=${todo.id})}">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </td>
                                <td style="text-align: center">
                                    <a href="#" class="tooltip-test" data-placement="right" title="Delete Todo"
                                       data-toggle="modal"
                                       data-target="#modal-warning"
                                       th:attr="data-target='#modal-warning'+${todo.id}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <div th:replace="todos/todo_delete_modal_dialog :: todo-delete-modal-dialog"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:unless="${!todos.isEmpty()}">
        <div class="row justify-content-center pt-1">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h4 class="display-4">Es gibt noch keine Einträge ...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>