<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>DIWE-TODO-APP<</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row justify-content-center pt-1">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="card-title">Todo-App</div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="text-center">HomePage</h3>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>